@font-face {
  font-family: 'Candara';
  src: url('../fonts/Candara/candara.eot');
  src: local('Candara'), url('../fonts/Candara/candara.woff') format('woff'), url('../fonts/Candara/candara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Candara';
  src: url('../fonts/Candara Bold/candara-bold.eot');
  src: local('Candara Bold'), url('../fonts/Candara Bold/candara-bold.woff') format('woff'), url('../fonts/Candara Bold/candara-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body{
  font-family: Arial, sans-serif;;
}

.container-fluid{
  min-width:320px;
  max-width:1200px;
}

#header-top{
  padding:18px 0;
}

#logo {
  font-size: 24px;
  max-width:500px;
  a{
    color: #362775;
  }
  .logo-text{
    margin-left: 80px;
    padding-top: 8px;
    line-height: 1.2;
  }
  .logo-img{
    float: left;
    margin-right: 10px;
  }
}

.language {
  text-align: right;
  padding-top: 25px;
  a{
    font-size: 25px;
    text-decoration: underline;
    color: #a8a8a8;
    &:hover{
      text-decoration: none;
    }
  }
}
.partners {
  text-align: right;
  a{
    display: inline-block;
    margin: 0 15px;
  }
}

#header-bottom{
  background-color: #eee;
}
.top-menu{
  margin:0;
  padding:0;
  list-style: none;
  li{
    float: left;
    a{
      display: inline-block;
      padding:18px 25px;
      font-size: 17px;
      color: #252d3d;
      position: relative;
      &:hover{
        color: #fff;
        background-color: #00A7F2;
        &::after{
          display: none;
        }
      }
      &::after{
        content:'';
        display: inline-block;
        width:2px;
        height:44px;
        border-left:1px solid #DBDBDB;
        border-right:1px solid #E7E7E7;
        position: absolute;
        right:-1px;
        top:50%;
        margin-top: -22px;
      }
    }
    &:last-child{
      a::after{
        display:none;
      }
    }
  }
}
.sign-in-container{
  text-align: right;
}
a.sign-in{
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  //transform: scaleX(1.05);
  padding: 12px 65px;
  max-height: 60px; 
  color: #fff;
  background-image: linear-gradient(0deg, #FFB321, #FF9737);
  &:hover{
    background-image: none;
    background-color: #FF9737;
  }
}
a.sign-in.begin-test{
  font-size: 19px;
  padding: 13px 15px;
  background-image: linear-gradient(0deg, #00E193, #00ED7C);
  .icon{
    vertical-align: -9px;
    margin-right: 5px;
  }
  &:hover{
    background-image: none;
    background-color: #00ED7C;
  }
  
}
.btn-blue-white{
  &:hover{
    background-color: #22BDD5;
    border-color: #22BDD5;
    color: #fff;
  }
}
.btn-white-transparent{
  &:hover{
    background-color: #fff;
    border-color: #fff;
    color: #22BDD5;
  }
}
.btn-landing{
  padding: 11px 35px 13px;
  font-size: 23px;
  line-height: 1;
  border-radius: 5px;
  border-width: 3px;
  font-weight: bold;
}



#top-text{
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #00CCE9, #46B4F5);
  box-shadow: inset 0 6px 7px rgba(0,0,0,0.1);
  padding:20px 0;
}


#top-slide{
  min-height: 440px;
  padding: 145px 0 0;
  background-color:#6CC0C7;
  background-position: 0px 10px;
  .top-slide-text{
    color: #fff;
    font-size: 24px;
    line-height: 38px;
  }
  .top-slide-bg{

  }
}

#top-icons{
  min-height:200px;
  background-color: #36AFB6;
  padding:22px 0;
}
.top-icon-img{
  text-align: center;
  min-height: 125px;
}
.top-icon-text{
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

#main-list{
  padding: 40px 0;
  box-shadow: inset 0 -6px 7px rgba(0,0,0,0.1);
  background:#6CC0C7 url('../images/uploads/main-list-container.jpg') center top no-repeat;
  background-size: cover;
}
.main-list{
  padding: 46px 130px 40px 180px;
  background:url('../images/uploads/main-list.png') center top no-repeat;
  .media{
    margin-bottom: 98px;
    .media-left{
      padding-right: 20px;
      min-width:90px;
      text-align: center;
    }
    .media-body{
      .media-heading{
        margin-bottom:15px;
        line-height: 1;
        font-size: 30px;
        color: #7b7b7b;
      }
      .bux-btns{
        .btn{
          margin-right: 10px;
        }
      }
    }
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}


#calendar{
  padding:45px 0;
  background-image: linear-gradient(90deg, #98EFFF, #48B5F5);
}
.my-calendar-container{

}
.my-calendar-info{
  .calendar-info-content{
    padding-left: 30px;
    h2{
      color: #fff;
      margin:0;
      .calendar-info-day{
        font-size: 104px;
      }
      .calendar-info-month{
        font-size: 52px;
      }
    }
    .calendar-info-intro{
      text-transform: uppercase;
      color: #43588e;
      font-size: 27px;
      line-height: 37px;
      margin-bottom: 15px;
    }
    .calendar-info-text{
      color: #fff;
      font-size: 25px;
      line-height: 39px;
    }
  }
}
.calendar-full{
  box-shadow: 3px 3px 5px rgba(0,0,0,0.18);
}
#my-calendar{
  padding: 25px 0 10px;
  background-color: #EBEFF1;
  > .fc-toolbar{
    display: none;
  }
  > .fc-view-container{
    padding: 0 25px;
  }
}
.calendar-arrow{
  display: inline-block;
  width:51px;
  height: 46px;
  text-align: center;
  background-color: #00B3C7;
  padding: 10px 0;
}
.calendar-prev{
  float: left;
}
.calendar-next{
  float: right;
}
.calendar-month-name{
  color: #a5b3b9;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #D8DFE1;
  height: 46px;
  line-height: 46px;
  text-align: center;
  padding:0 55px;
}
.calendar-top{
  background-color: #23C6DA;
  padding:25px 45px;
  line-height: 1;
}
.calendar-month-num{
  font-size: 120px;
  color: #fff;
  position: relative;
  &::after{
    content:'';
    display: block;
    position: absolute;
    right:-10px;
    top:3px;
    background-color: #0094A3;
    width:2px;
    height:110px;
  }
}
.calendar-month-title{
  font-size: 28px;
  color: #0094A3;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.calendar-year{
  font-size:66px;
  color: #0094A3;
}
.fc-month-view{
  
}
.fc-basic-view .fc-body .fc-row {
  min-height: 27px;
}
.fc-row .fc-content-skeleton {
  padding-bottom: 0;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: none;
}
.fc th, .fc td {
  border:none;
  text-align: center;
}
.fc-day-header{
  text-transform: capitalize;
  font-size: 17px;
}
.fc-basic-view .fc-day-number{
  font-size: 20px;
  padding: 0px;
  line-height: 30px;
  color: #688390;
}
.fc td.fc-today {
  border:none;
  background:none;
  .fc-day-number{
    display: inline-block;
    font-size: 18px;
    background-color: #FF6968;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    padding:0;
    color: #fff;
  }
}
td.fc-head-container{
  padding-bottom:5px;
}
.fc-day-header{
  span{
    display: inline-block;
    width: 46px;
    height: 31px;
    line-height: 31px;
    background-color: #CED8DB;
    color: #fff;
  }
  &.fc-sat,
  &.fc-sun{
    span{
      background-color: #fff;
      color: #D0D7DA;
    }
  }
}


.landing-page{
  #content{
    font-family: 'Candara', Arial, sans-serif;
  }
  #header-bottom{
    padding:30px 0;
  }
  .menu-container{
    background-color: #fff;
    box-shadow: -2px -5px 8px rgba(0, 0, 0, 0.1);
  }
  .top-menu {
    li {
      a {
        padding: 16px 25px 17px;
      }
    }
  }
}
#block-1{
  background-color: #eee;
  .block-1-bg{
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .block-1-content{
    padding-top:45px;
    padding-bottom: 145px;
  }
  .header-1{
    font-size: 46px;
    color: #3d96f0;
    margin-top: 0;
    text-transform: uppercase;
  }
  .header-2{
    font-size: 38px;
    font-weight: bold;
    color: #2f6faf;
    margin-top: 25px;
  }
  .text{
    font-size: 26px;
    line-height: 36px;
    color: #687a9f;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
#block-2{
  background-color: #fff;
  padding:75px 0 60px;
  .header-1{
    font-size: 44px;
    color: #4FC7E9;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .text{
    font-size: 24px;
    line-height: 32px;
    color: #8a8a8a;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
#block-3{
  background-color: #46ACEA;
  background-image: linear-gradient(0deg, #46ACEA, #22BDD4);
  padding:45px 0 35px;
  .header-1{
    font-size: 44px;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .text{
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-top: 25px;
    font-weight: bold;
    margin-bottom: 0;
    padding-right: 40px;
  }
}
#block-4{
  background-color: #fff;
  padding:35px 0 30px;
  .header-1{
    font-size: 44px;
    color: #4FC7E9;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .advantages{
    margin-bottom: 25px;
    margin-top: 15px;
  }
}
#block-5{
  background-color: #fff;
  background-image: linear-gradient(0deg, #18B7DB, #63CBE0);
  padding:50px 0 25px;
   .block-5-bg{
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .header-1{
    font-size: 44px;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .text{
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-top: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
#block-6{
  background-color: #fff;
  padding:60px 0 0;
  .header-1{
    font-size: 44px;
    color: #4FC7E9;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .text{
    font-size: 24px;
    line-height: 32px;
    color: #8a8a8a;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
#block-7{
  background-color: #fff;
  background-image: linear-gradient(0deg, #33ABEA, #59DCF1);
  box-shadow: 0 -10px 32px rgba(0,0,0,0.3);
  padding:45px 0 40px;
  .header-1{
    font-size: 44px;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .text{
    margin-top: 15px;
  }
  .btn-orange{
    .icon{
      vertical-align: -10px;
      margin-left: 5px;
    }
  }
}

.comments-slider{
  position: relative;
  .slick-arrow{
    position: absolute;
    top:50%;
    margin-top: -25px;
    cursor: pointer;
    &.icon-slider-arrow-l{
      left:0;
    }
    &.icon-slider-arrow-r{
      right: 0;
    }
  }

}
.comments-slide{
  text-align: center;
  padding:15px 80px;
  .comments-img{
    img{
      margin: 0 auto;
    }
  }
  .comments-name{
    color: #fff;
    font-size: 22px;
    margin:15px 0 20px;
    font-weight: bold;
  }
  .comments-text{
    color: #fff;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
  }
}

.partner-tile{
  background-color: #fff;
  display: inline-block;
  width: 210px;
  height: 210px;
  line-height: 210px;
  border-radius: 17px;
  text-align: center;
  box-shadow: -5px -4px 15px rgba(86, 112, 176, 0.6);
  margin-right: 11px;
  margin-bottom: 15px;
}

.advantage-container{
  padding-left: 4px;
  padding-right: 4px;
  a.advantage{
    display: block;
    color: #8a8a8a;
    text-align: center;
    border:1px solid #AEAEAE;
    padding: 65px 10px 45px;
    background-color: #fff;
    transition: all 0.2s;
    .advantage-icon{
      height:101px;
      line-height: 101px;
      margin-bottom: 35px;
    }
    .advantage-header{
      font-size: 26px;
      margin-bottom: 5px;
    }
    .advantage-text{
      font-size: 18px;
      line-height: 28px;
      height: 112px;
      overflow: hidden;
    }
    &:hover{
      background-color: #295C95;
      color: #fff;
      transform: translate(0, 3px);
    }
  }
}


#footer{
  background-color: #1C1C1C;
  padding:15px 0;
}

.social{
  text-align: right;
  margin-bottom: 25px;
  a{
    display: inline-block;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.counters{
  padding-left: 25px;

  a{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.bottom-info{
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.6;
}

.copyright{
  color: #fff;
  line-height: 1.6;
}

.top-menu-switch{
  display: none;
  position: absolute;
  height: 41px;
  width: 41px;
  cursor: pointer;
  padding: 8px 10px;
}
.icon-bar{
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  margin: 5px 0;
}