@media (min-width: $screen-xs) {
  
}
@media (min-width: $screen-sm) {
  
}
@media (min-width: $screen-md) {
  
}
@media (min-width: $screen-lg) {
	.my-calendar-container{
	 	width:37%;
	}
	.my-calendar-info{
	 	width: 63%;
	}
	.footer-left{
	 	width:71%;
	}
	.footer-right{
		width: 29%;
	}
	.landing-page{
	 	#header-bottom{
	 		.top-menu-col{
				width:72%;
	 		}
	 		.top-button-col{
				width:28%;
	 		}
	 	}
	}

}
@media (max-width: $screen-lg - 1) {
  #logo {
  	font-size: 22px;
  	.logo-text{
  		padding-top: 10px;
  	}
  }
  #top-slide {
		padding-top: 50px;
	}
  #top-text {
  	font-size: 26px;
  }
  .top-icon-text {
  	overflow: hidden;
  	text-overflow:ellipsis;
  }
  .partners{
  	a{
  		margin: 0 10px;
  	}
  }
  .calendar-top{
  	padding:15px 25px;
  }
  	.calendar-month-num {
    	font-size: 90px;
	}
	.calendar-month-num::after {
		height: 90px;
	}
	.calendar-month-title {
	    font-size: 20px;
	    margin-bottom: 10px;
	}
	.calendar-year {
	    font-size: 55px;
	}
  	.main-list {
    	padding: 0 15px;
    	background-image: none;
    	> .media{
    		padding: 20px 50px;
			background-color: rgba(255,255,255,0.8);
			border-radius: 60px;
			//max-height: 120px;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
			margin-bottom: 50px;
			.media-body{
				.bux-btns{
					.btn{
						margin-bottom: 3px;
					}
				}
			}
    	}
	}
  .language {
	   padding-top: 15px;
	}
	.top-menu,
	.landing-page .top-menu {
		li{
			a{
				padding: 16px 15px 17px;
			}
		}
	}
	a.sign-in,
	a.sign-in.begin-test{
		font-size: 17px;
		padding: 16px 15px 17px;
		.icon{
			display: none;
		}
	}
	#block-1{
		.header-1 {
		    font-size: 37px;
		}
		.header-2 {
			margin-top: 20px;
			font-size: 30px;
		}
		.text {
		    font-size: 22px;
		    line-height: 1.4;
		    margin-top: 20px;
		}
		.block-1-content {
		    padding-top: 10px;
		    padding-bottom: 40px;
		}
		.block-1-bg {
			padding-top: 15px;
		}
	} 
	#block-2{
		padding: 35px 0 30px;
		.header-1 {
		    font-size: 37px;
		}
		.text {
		    font-size: 22px;
		    line-height: 1.4;
		    margin-top: 20px;
		}
	}
	#block-3{
		padding: 35px 0 30px;
		.header-1 {
		    font-size: 37px;
		}
		.text {
		    font-size: 22px;
		    line-height: 1.4;
		    margin-top: 20px;
		}
	}
	#block-4{
		padding: 35px 0 30px;
		.header-1 {
		    font-size: 37px;
		}
	}
	#block-5{
		padding: 35px 0 30px;
		.header-1 {
		    font-size: 37px;
		}
		.text {
		    font-size: 22px;
		    line-height: 1.4;
		    margin-top: 20px;
		}
	}
	#block-6{
		padding: 35px 0 0;
		.header-1 {
		    font-size: 37px;
		}
		.text {
		    font-size: 22px;
		    line-height: 1.4;
		    margin-top: 20px;
		}
	}
	#block-7{
		padding: 35px 0 30px;
		.header-1 {
		    font-size: 37px;
		}
	}
	.partner-tile {
	    width: 170px;
	    height: 170px;
	    line-height: 160px;
	    padding:5px;
	    img{
	    	max-width:100%;
	    }
	}
	.advantage-container {
	    //padding-left: 15px;
	    //padding-right: 15px;
	    a.advantage {
	    	padding-left:5px;
	    	padding-right: 5px;
	    	.advantage-text {
				font-size: 16px;
				line-height: 1.5;
				height: 96px;
			}
	    }
	}
}
@media (max-width: $screen-md - 1) {
	#logo {
	  	font-size: 18px;
	  	.logo-text{
	  		padding-top: 6px;
	  	}
	}
	
	.partners{
		text-align: left;
		padding-top: 9px;
		a{
			width: 70px;
			margin:0 5px;
			img{
				max-width: 100%;
			}
		}
	}
	.top-menu,
	.landing-page .top-menu {
		li {
			a {
			    padding: 10px 9px 10px;
			    font-size: 15px;
			    &::after{
			    	display: none;
			    }
			}
		}
	}
	a.sign-in,
	a.sign-in.begin-test {
	    font-size: 15px;
	    padding: 10px 15px;
	    text-align: center;
	    white-space: nowrap;
	    text-overflow:ellipsis;
	    overflow: hidden;
	    display: block;
	}
	#block-1{
		.header-1 {
		    font-size: 28px;
		}
		.header-2 {
			font-size: 24px;
		}
		.text {
		    font-size: 18px;
		}
	} 
	#block-2{
		.header-1 {
		    font-size: 28px;
		}
		.text {
		    font-size: 18px;
		}
	}
	#block-3{
		.header-1 {
		    font-size: 28px;
		}
		.text {
		    font-size: 18px;
		}
	}
	#block-4{
		.header-1 {
		    font-size: 28px;
		}
	}
	#block-5{
		.header-1 {
		    font-size: 28px;
		}
		.text {
		    font-size: 18px;
		}
	}
	#block-6{
		padding: 35px 0 30px;
		.header-1 {
		    font-size: 28px;
		}
		.text {
		    font-size: 18px;
		}
	}
	#block-7{
		.header-1 {
		    font-size: 28px;
		}
	}
	.partner-tile {
	    width: 130px;
	    height: 130px;
	    line-height: 120px;
	}
	.advantage-container {
	    padding-left: 15px;
	    padding-right: 15px;
	    a.advantage {
	    	margin-bottom: 30px;
	    }
	}
	.counters{
		text-align: right;
	}

}
@media (max-width: $screen-sm - 1) {
  	#logo {
	  	font-size: 14px;
	  	max-width: 200px;
	  	.logo-img {
	  		width: 50px;
	  	}
	  	.logo-text{
	  		margin-left: 60px;
	  		padding-top: 0;
	  	}
  	}
  	.block-2-content,
	.block-3-content,
	.block-5-content,
	.block-6-content{
		margin-bottom: 30px;
	}
	.top-icon-text{
		margin-bottom: 15px;
	}
	#block-3{
		.text{
			padding-right: 0;
		}
	}
	#block-5 {
		.block-5-bg {
		    padding-top: 0;
		    padding-bottom: 0;
		}
	}
	#top-slide {
		padding-top: 30px;
		.top-slide-text{
			margin-bottom: 30px;
		}
	}
  .partners{
		text-align: right;
		padding-top: 9px;
		a{
			width: 30px;
		}
	}
	.language{
		a{
			font-size: 14px;
		}
	}
	.comments-slider{
		.slick-arrow{
			transform:scale(0.7,0.7);
		}
		.slick-arrow.icon-slider-arrow-l {
		    left: -15px;
		}
		.slick-arrow.icon-slider-arrow-r {
		    right: -15px;
		}
	}
	.comments-slide {
	    text-align: center;
	    padding: 15px 50px;
	}
	.counters{
		text-align: center;
	}
	.social{
		text-align: center;
	}
	.bottom-info{
		text-align: center;
		margin-top: 30px;
	}
	.copyright{
		text-align: center;
		margin-top: 3 0px;
	}
	.top-menu-col{
		position: relative;
	}
	.top-menu{
		display: none;
		position: absolute;
		background-color: #fff;
		top: 41px;
		z-index: 1000;
		box-shadow: 0 3px 5px rgba(0,0,0,0.2);
		padding: 10px 0;
		min-width: 290px;
		&.active{
			display: block;
		}
		li{
			float: none;
			a{
				display: block;
				padding: 10px 15px;
				width: 100%;
			}
		}
	}
	.top-menu-switch{
		display: block;
	}
	.calendar-month-num{
		padding-right: 10px;
		text-align: right;
	}
	.calendar-full{
		margin-bottom: 30px;
	}
}
@media (max-width: $screen-xs - 1) {
	#logo {
	  	.logo-text{
			display: none;
		}
		.logo-img{
			width: 60px;
		}
	}
	
  	#header-top {
	    padding: 10px 0;
	    min-height: 80px;
	}
	.partners{
		padding-top: 0;
		position: absolute;
		top: 30px;
		width: 180px;
		right: -45px;
	}
	.language {
	    padding-top: 0px;
	    position: absolute;
	    right: 15px;
	}
	.partners-tiles{
		margin-top: 30px;
		&::after{
			content:'';
			display: block;
			clear: both;
		}
	}
	.partner-tile{
		width: 49%;
		margin-right: 2%;
		margin-bottom: 2%;
		float: left;
		&:nth-child(2n){
			margin-right: 0;
		}
	}
	#top-text {
	  	font-size: 26px;
	}
	.top-icon-text {
		font-size: 14px;
	}
	.main-list {
    	padding: 0;
    	background-image: none;
    	> .media{
    		padding: 20px 30px;
			margin-bottom: 30px;
			.media-left{
				display: block;
				width: auto;
				padding: 0;
				margin-bottom: 10px;
			}
			.media-body{
				display: block;
				width: auto;
				padding: 0;
				margin: 0;
				text-align: center;
				.media-heading{
					font-size: 20px;
					line-height: 1.2;
				}
				.bux-btns .btn {
				    margin-bottom: 10px;
				}
			}
    	}
	}
	#top-slide .top-slide-text {
	    font-size: 20px;
	    line-height: 30px;
	}
}



@media (max-width: $screen-md - 1) and  (min-width: $screen-sm){
	.top-menu-col{
		width: 80%;
	}
	.top-button-col{
		width: 20%;
	}
}

@media (max-width: $screen-lg - 1) and  (min-width: $screen-md){
  
}