/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-r-name: 'arrow-r';
$arrow-r-x: 317px;
$arrow-r-y: 257px;
$arrow-r-offset-x: -317px;
$arrow-r-offset-y: -257px;
$arrow-r-width: 31px;
$arrow-r-height: 31px;
$arrow-r-total-width: 447px;
$arrow-r-total-height: 400px;
$arrow-r-image: '../images/sprite.png';
$arrow-r: (317px, 257px, -317px, -257px, 31px, 31px, 447px, 400px, '../images/sprite.png', 'arrow-r', );
$bux-1-name: 'bux-1';
$bux-1-x: 377px;
$bux-1-y: 70px;
$bux-1-offset-x: -377px;
$bux-1-offset-y: -70px;
$bux-1-width: 69px;
$bux-1-height: 69px;
$bux-1-total-width: 447px;
$bux-1-total-height: 400px;
$bux-1-image: '../images/sprite.png';
$bux-1: (377px, 70px, -377px, -70px, 69px, 69px, 447px, 400px, '../images/sprite.png', 'bux-1', );
$bux-10-name: 'bux-10';
$bux-10-x: 179px;
$bux-10-y: 226px;
$bux-10-offset-x: -179px;
$bux-10-offset-y: -226px;
$bux-10-width: 69px;
$bux-10-height: 73px;
$bux-10-total-width: 447px;
$bux-10-total-height: 400px;
$bux-10-image: '../images/sprite.png';
$bux-10: (179px, 226px, -179px, -226px, 69px, 73px, 447px, 400px, '../images/sprite.png', 'bux-10', );
$bux-2-name: 'bux-2';
$bux-2-x: 377px;
$bux-2-y: 270px;
$bux-2-offset-x: -377px;
$bux-2-offset-y: -270px;
$bux-2-width: 69px;
$bux-2-height: 62px;
$bux-2-total-width: 447px;
$bux-2-total-height: 400px;
$bux-2-image: '../images/sprite.png';
$bux-2: (377px, 270px, -377px, -270px, 69px, 62px, 447px, 400px, '../images/sprite.png', 'bux-2', );
$bux-3-name: 'bux-3';
$bux-3-x: 248px;
$bux-3-y: 226px;
$bux-3-offset-x: -248px;
$bux-3-offset-y: -226px;
$bux-3-width: 69px;
$bux-3-height: 72px;
$bux-3-total-width: 447px;
$bux-3-total-height: 400px;
$bux-3-image: '../images/sprite.png';
$bux-3: (248px, 226px, -248px, -226px, 69px, 72px, 447px, 400px, '../images/sprite.png', 'bux-3', );
$bux-4-name: 'bux-4';
$bux-4-x: 328px;
$bux-4-y: 122px;
$bux-4-offset-x: -328px;
$bux-4-offset-y: -122px;
$bux-4-width: 45px;
$bux-4-height: 76px;
$bux-4-total-width: 447px;
$bux-4-total-height: 400px;
$bux-4-image: '../images/sprite.png';
$bux-4: (328px, 122px, -328px, -122px, 45px, 76px, 447px, 400px, '../images/sprite.png', 'bux-4', );
$bux-5-name: 'bux-5';
$bux-5-x: 377px;
$bux-5-y: 0px;
$bux-5-offset-x: -377px;
$bux-5-offset-y: 0px;
$bux-5-width: 70px;
$bux-5-height: 70px;
$bux-5-total-width: 447px;
$bux-5-total-height: 400px;
$bux-5-image: '../images/sprite.png';
$bux-5: (377px, 0px, -377px, 0px, 70px, 70px, 447px, 400px, '../images/sprite.png', 'bux-5', );
$bux-6-name: 'bux-6';
$bux-6-x: 110px;
$bux-6-y: 226px;
$bux-6-offset-x: -110px;
$bux-6-offset-y: -226px;
$bux-6-width: 69px;
$bux-6-height: 76px;
$bux-6-total-width: 447px;
$bux-6-total-height: 400px;
$bux-6-image: '../images/sprite.png';
$bux-6: (110px, 226px, -110px, -226px, 69px, 76px, 447px, 400px, '../images/sprite.png', 'bux-6', );
$bux-7-name: 'bux-7';
$bux-7-x: 0px;
$bux-7-y: 348px;
$bux-7-offset-x: 0px;
$bux-7-offset-y: -348px;
$bux-7-width: 69px;
$bux-7-height: 52px;
$bux-7-total-width: 447px;
$bux-7-total-height: 400px;
$bux-7-image: '../images/sprite.png';
$bux-7: (0px, 348px, 0px, -348px, 69px, 52px, 447px, 400px, '../images/sprite.png', 'bux-7', );
$bux-8-name: 'bux-8';
$bux-8-x: 377px;
$bux-8-y: 139px;
$bux-8-offset-x: -377px;
$bux-8-offset-y: -139px;
$bux-8-width: 69px;
$bux-8-height: 69px;
$bux-8-total-width: 447px;
$bux-8-total-height: 400px;
$bux-8-image: '../images/sprite.png';
$bux-8: (377px, 139px, -377px, -139px, 69px, 69px, 447px, 400px, '../images/sprite.png', 'bux-8', );
$bux-9-name: 'bux-9';
$bux-9-x: 377px;
$bux-9-y: 208px;
$bux-9-offset-x: -377px;
$bux-9-offset-y: -208px;
$bux-9-width: 69px;
$bux-9-height: 62px;
$bux-9-total-width: 447px;
$bux-9-total-height: 400px;
$bux-9-image: '../images/sprite.png';
$bux-9: (377px, 208px, -377px, -208px, 69px, 62px, 447px, 400px, '../images/sprite.png', 'bux-9', );
$calendar-next-name: 'calendar-next';
$calendar-next-x: 305px;
$calendar-next-y: 198px;
$calendar-next-offset-x: -305px;
$calendar-next-offset-y: -198px;
$calendar-next-width: 16px;
$calendar-next-height: 25px;
$calendar-next-total-width: 447px;
$calendar-next-total-height: 400px;
$calendar-next-image: '../images/sprite.png';
$calendar-next: (305px, 198px, -305px, -198px, 16px, 25px, 447px, 400px, '../images/sprite.png', 'calendar-next', );
$calendar-prev-name: 'calendar-prev';
$calendar-prev-x: 354px;
$calendar-prev-y: 198px;
$calendar-prev-offset-x: -354px;
$calendar-prev-offset-y: -198px;
$calendar-prev-width: 16px;
$calendar-prev-height: 25px;
$calendar-prev-total-width: 447px;
$calendar-prev-total-height: 400px;
$calendar-prev-image: '../images/sprite.png';
$calendar-prev: (354px, 198px, -354px, -198px, 16px, 25px, 447px, 400px, '../images/sprite.png', 'calendar-prev', );
$cert-name: 'cert';
$cert-x: 107px;
$cert-y: 120px;
$cert-offset-x: -107px;
$cert-offset-y: -120px;
$cert-width: 107px;
$cert-height: 106px;
$cert-total-width: 447px;
$cert-total-height: 400px;
$cert-image: '../images/sprite.png';
$cert: (107px, 120px, -107px, -120px, 107px, 106px, 447px, 400px, '../images/sprite.png', 'cert', );
$checked-box-name: 'checked-box';
$checked-box-x: 317px;
$checked-box-y: 226px;
$checked-box-offset-x: -317px;
$checked-box-offset-y: -226px;
$checked-box-width: 37px;
$checked-box-height: 31px;
$checked-box-total-width: 447px;
$checked-box-total-height: 400px;
$checked-box-image: '../images/sprite.png';
$checked-box: (317px, 226px, -317px, -226px, 37px, 31px, 447px, 400px, '../images/sprite.png', 'checked-box', );
$document-name: 'document';
$document-x: 0px;
$document-y: 120px;
$document-offset-x: 0px;
$document-offset-y: -120px;
$document-width: 107px;
$document-height: 106px;
$document-total-width: 447px;
$document-total-height: 400px;
$document-image: '../images/sprite.png';
$document: (0px, 120px, 0px, -120px, 107px, 106px, 447px, 400px, '../images/sprite.png', 'document', );
$exam-name: 'exam';
$exam-x: 120px;
$exam-y: 0px;
$exam-offset-x: -120px;
$exam-offset-y: 0px;
$exam-width: 107px;
$exam-height: 107px;
$exam-total-width: 447px;
$exam-total-height: 400px;
$exam-image: '../images/sprite.png';
$exam: (120px, 0px, -120px, 0px, 107px, 107px, 447px, 400px, '../images/sprite.png', 'exam', );
$icon-name: 'icon';
$icon-x: 227px;
$icon-y: 101px;
$icon-offset-x: -227px;
$icon-offset-y: -101px;
$icon-width: 79px;
$icon-height: 97px;
$icon-total-width: 447px;
$icon-total-height: 400px;
$icon-image: '../images/sprite.png';
$icon: (227px, 101px, -227px, -101px, 79px, 97px, 447px, 400px, '../images/sprite.png', 'icon', );
$idea-name: 'idea';
$idea-x: 227px;
$idea-y: 0px;
$idea-offset-x: -227px;
$idea-offset-y: 0px;
$idea-width: 101px;
$idea-height: 101px;
$idea-total-width: 447px;
$idea-total-height: 400px;
$idea-image: '../images/sprite.png';
$idea: (227px, 0px, -227px, 0px, 101px, 101px, 447px, 400px, '../images/sprite.png', 'idea', );
$sign-name: 'sign';
$sign-x: 306px;
$sign-y: 101px;
$sign-offset-x: -306px;
$sign-offset-y: -101px;
$sign-width: 20px;
$sign-height: 89px;
$sign-total-width: 447px;
$sign-total-height: 400px;
$sign-image: '../images/sprite.png';
$sign: (306px, 101px, -306px, -101px, 20px, 89px, 447px, 400px, '../images/sprite.png', 'sign', );
$slider-arrow-l-name: 'slider-arrow-l';
$slider-arrow-l-x: 328px;
$slider-arrow-l-y: 0px;
$slider-arrow-l-offset-x: -328px;
$slider-arrow-l-offset-y: 0px;
$slider-arrow-l-width: 49px;
$slider-arrow-l-height: 122px;
$slider-arrow-l-total-width: 447px;
$slider-arrow-l-total-height: 400px;
$slider-arrow-l-image: '../images/sprite.png';
$slider-arrow-l: (328px, 0px, -328px, 0px, 49px, 122px, 447px, 400px, '../images/sprite.png', 'slider-arrow-l', );
$slider-arrow-r-name: 'slider-arrow-r';
$slider-arrow-r-x: 0px;
$slider-arrow-r-y: 226px;
$slider-arrow-r-offset-x: 0px;
$slider-arrow-r-offset-y: -226px;
$slider-arrow-r-width: 49px;
$slider-arrow-r-height: 122px;
$slider-arrow-r-total-width: 447px;
$slider-arrow-r-total-height: 400px;
$slider-arrow-r-image: '../images/sprite.png';
$slider-arrow-r: (0px, 226px, 0px, -226px, 49px, 122px, 447px, 400px, '../images/sprite.png', 'slider-arrow-r', );
$social-facebook-name: 'social-facebook';
$social-facebook-x: 328px;
$social-facebook-y: 198px;
$social-facebook-offset-x: -328px;
$social-facebook-offset-y: -198px;
$social-facebook-width: 26px;
$social-facebook-height: 26px;
$social-facebook-total-width: 447px;
$social-facebook-total-height: 400px;
$social-facebook-image: '../images/sprite.png';
$social-facebook: (328px, 198px, -328px, -198px, 26px, 26px, 447px, 400px, '../images/sprite.png', 'social-facebook', );
$social-ok-name: 'social-ok';
$social-ok-x: 227px;
$social-ok-y: 198px;
$social-ok-offset-x: -227px;
$social-ok-offset-y: -198px;
$social-ok-width: 26px;
$social-ok-height: 26px;
$social-ok-total-width: 447px;
$social-ok-total-height: 400px;
$social-ok-image: '../images/sprite.png';
$social-ok: (227px, 198px, -227px, -198px, 26px, 26px, 447px, 400px, '../images/sprite.png', 'social-ok', );
$social-rss-name: 'social-rss';
$social-rss-x: 253px;
$social-rss-y: 198px;
$social-rss-offset-x: -253px;
$social-rss-offset-y: -198px;
$social-rss-width: 26px;
$social-rss-height: 26px;
$social-rss-total-width: 447px;
$social-rss-total-height: 400px;
$social-rss-image: '../images/sprite.png';
$social-rss: (253px, 198px, -253px, -198px, 26px, 26px, 447px, 400px, '../images/sprite.png', 'social-rss', );
$social-twitter-name: 'social-twitter';
$social-twitter-x: 279px;
$social-twitter-y: 198px;
$social-twitter-offset-x: -279px;
$social-twitter-offset-y: -198px;
$social-twitter-width: 26px;
$social-twitter-height: 26px;
$social-twitter-total-width: 447px;
$social-twitter-total-height: 400px;
$social-twitter-image: '../images/sprite.png';
$social-twitter: (279px, 198px, -279px, -198px, 26px, 26px, 447px, 400px, '../images/sprite.png', 'social-twitter', );
$social-vk-name: 'social-vk';
$social-vk-x: 348px;
$social-vk-y: 257px;
$social-vk-offset-x: -348px;
$social-vk-offset-y: -257px;
$social-vk-width: 26px;
$social-vk-height: 26px;
$social-vk-total-width: 447px;
$social-vk-total-height: 400px;
$social-vk-image: '../images/sprite.png';
$social-vk: (348px, 257px, -348px, -257px, 26px, 26px, 447px, 400px, '../images/sprite.png', 'social-vk', );
$test-name: 'test';
$test-x: 0px;
$test-y: 0px;
$test-offset-x: 0px;
$test-offset-y: 0px;
$test-width: 120px;
$test-height: 120px;
$test-total-width: 447px;
$test-total-height: 400px;
$test-image: '../images/sprite.png';
$test: (0px, 0px, 0px, 0px, 120px, 120px, 447px, 400px, '../images/sprite.png', 'test', );
$unlock-name: 'unlock';
$unlock-x: 49px;
$unlock-y: 226px;
$unlock-offset-x: -49px;
$unlock-offset-y: -226px;
$unlock-width: 61px;
$unlock-height: 87px;
$unlock-total-width: 447px;
$unlock-total-height: 400px;
$unlock-image: '../images/sprite.png';
$unlock: (49px, 226px, -49px, -226px, 61px, 87px, 447px, 400px, '../images/sprite.png', 'unlock', );
$spritesheet-width: 447px;
$spritesheet-height: 400px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-r, $bux-1, $bux-10, $bux-2, $bux-3, $bux-4, $bux-5, $bux-6, $bux-7, $bux-8, $bux-9, $calendar-next, $calendar-prev, $cert, $checked-box, $document, $exam, $icon, $idea, $sign, $slider-arrow-l, $slider-arrow-r, $social-facebook, $social-ok, $social-rss, $social-twitter, $social-vk, $test, $unlock, );
$spritesheet: (447px, 400px, '../images/sprite.png', $spritesheet-sprites, );


